body {
    background-color:cadetblue;

}


#DV1 {
    
     
 
}

#RequiredFieldValidator1

{
    color:blue;
    font-size:larger;
    font-family:Batang;

}

#CompareValidator1 {
    color: blue;
    font-size: larger;
    font-family: Batang;
}

#RegularExpressionValidator1 {
    color: blue;
    font-size: larger;
    font-family: Batang;
}

#RequiredFieldValidator2 {
    color: blue;
    font-size: larger;
    font-family: Batang;
}

#RequiredFieldValidator3 {
    color: blue;
    font-size: larger;
    font-family: Batang;
}

#labelfinal {
    color: blue;
    font-size: larger;
    font-family: Batang;
}

#RequiredFieldValidator4 {
    color: blue;
    font-size: larger;
    font-family: Batang;
}


#RequiredFieldValidator5 {
    color: blue;
    font-size: larger;
    font-family: Batang;
}


.flexbox
{
    display: grid;
    place-items: center;
}
