body {
    font-family: 'Lucida Sans', 'Lucida Sans';
    color: blue;
    background-color: darkgrey;
}
   
    #Button1{ 
                color:blueviolet;
                background-color:antiquewhite;
                font-family:'Comic Sans MS';

            }


#Image1 {

    Width:300px;
    margin:auto;
    display:block;

}


#x {
    border-block-color: cadetblue;
    border-width: 2px;
    /*/border: solid */
    
    width: 50%;
   /* position: absolute;*/
    left: 30%;
    right: 0%;
}


    

