USE [master]
GO
/****** Object:  Database [LINQ2]    Script Date: 02/08/2021 18:00:25 ******/
CREATE DATABASE [LINQ2] ON  PRIMARY 
( NAME = N'LINQ2', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSMARCOS\MSSQL\DATA\LINQ2.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LINQ2_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSMARCOS\MSSQL\DATA\LINQ2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LINQ2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LINQ2]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 02/08/2021 18:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](20) NULL,
	[Apellido] [varchar](20) NULL,
	[Edad] [int] NULL,
	[Casado] [bit] NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Empleados] ([Id], [Nombre], [Apellido], [Edad], [Casado]) VALUES (1, N'Marcos', N'Sastre', 49, 1)
INSERT [dbo].[Empleados] ([Id], [Nombre], [Apellido], [Edad], [Casado]) VALUES (2, N'antonio', N'suarez', 67, 0)
INSERT [dbo].[Empleados] ([Id], [Nombre], [Apellido], [Edad], [Casado]) VALUES (3, N'isabel', N'maduelno', 49, 1)
GO
USE [master]
GO
